h1 {
  color: red;
}

.fondo {
  background-color: #292929;
}

.titulo {
  color: #fff;
  text-align: center;
  font-size: 2.5rem;
}

.perfiles {
  text-align: center;
  color:  #8d8d8d;
  border-style: solid;
  border-width: 0.12rem;
  border-color:  #8d8d8d;
}
.perfiles:hover {
  color:  #fff;
  border-color:  #fff;
  cursor: pointer;
}

