<!--The content below is only a placeholder and can be replaced.-->
<div class="fondo">
<div class="row"  >
  <div class="col-sm-2"></div>
  <div class="col-sm-8">
    <p class="titulo">¿Quién está viendo ahora?</p>
  </div>
  <div class="col-sm-2"></div>
</div>

<div class="row">
  <!--Componente-->
  <div class="col-sm-2"></div>
  <div class="col-sm-2" *ngFor="let usuario of arregloUsuarios">
    <app-seleccion [texto]="usuario.texto" [imagen]="usuario.imagen">

    </app-seleccion>
  </div>
  <div class="col-sm-2"></div>
</div>

<div class="row">
  <div class="col-sm-4"></div>
  <div class="col-sm-4">
    <p class="perfiles">ADMINISTRAR PERFILES</p>
  </div>
  <div class="col-sm-4"></div>
</div>
</div>


<!--
<h1>Componente seleccion</h1>

<div *ngIf="mostrarComponente">
  PAPA:{{contadorDesdePapa}}
  <app-seleccion [contador]="contadorDesdePapa" (cambioElContador)="actualizarContador($event)">

  </app-seleccion>
</div>

<button class="btn btn-success" (click)="contadorDesdePapa=contadorDesdePapa+1">
  Aumentar Valor de contador
</button>

<button class="btn btn-info " (click)="mostrarComponente=!mostrarComponente">
  Sumar
</button>
-->

<!--
<div class="row">
  <div class="col-sm-12">
    <h1>Bindings</h1>
    <h3> Property bindings[]</h3>
    <img [src]="imageURL" alt="'imagen de imagen'" [width]="imageWidth" >
    <div [innerHTML]="html"></div>

    <p [style.color]="'red'"  [style.background-color]='black' [innerText]="'hola amigos'"></p>


    <h3>Event bindings()</h3>
    <button (click)="aumentar($event)" class="btn btn-block btn-info">Aumentar imagen</button>

    <h1 (mouseenter)="disminuir()" >restar imagen </h1>


    <h3>NgModel (two way data bindings) [()]</h3>
    <label for="width">Width</label>
    <input id="width" type="text" [(ngModel)]="imageWidth">

  </div>

  <div class="col-sm-4"></div>
  <div class="col-sm-4">
    <br>
    <h1 class="text center">
      hola
      <span *ngIf="mostrarTitulo">{{titulo}}</span>
    </h1>
    <p>
      soy el usuario {{usuario.nombre+ ' '+usuario.apellido}}
      {{1+10}}
    </p>

    <ul>
      <li *ngFor="let numero of arregloNumeros;
      let i=index">
        {{i}} .- valor del numero :{{numero}}

      </li>
    </ul>




  </div>
  <div class="col-sm-4"></div>
</div>
-->



